<br />
<h1>Let's play!</h1>

<%= link_to "New Game?", new_game_path %>

<div class = "container">
  <table class = "chessboard" cellpadding="0" cellspacing="0">
    <% 7.downto(0) do |row| %>
      <tr> 
        <% 0.upto(7) do |column| %>
          <td id = 'pos<%= "#{column}_#{row}"%>' class = 'droppable'>    
            <% @pieces.each do |piece|%>
              <div data-piece-id ="<%= piece.id %>">
              <% if piece.position_y.to_i == row && piece.position_x.to_i == column %>
                <%= link_to piece_path(piece) do %>
                  <%= image_tag(piece.show_image, class: "img-fluid draggable", 'data-piece-id': piece.id ,id:"piece#{column}_#{row}," ) %>
                <% end %>
              <% end %>
              </div>
            <% end %>
         </td >          
        <% end %>
      </tr>
    <% end %>
    <br class="clr">
  </table>
</div>



<script>

  $(function() {
    $(".draggable").draggable({
      containment: "table",
      snap: ".droppable",
      snapMode: "inner"
    });

    $(".droppable").droppable({
      drop: function( event, ui ){
        var initialId = ui.draggable.prop('id');
        var initial_x = initialId.substring(5, 6);
        var initial_y = initialId.substring(7);
        var targetId = event.target.id;
        var target_x = targetId.substring(3, 4);
        var target_y = targetId.substring(5);
        var newId = "piece" + target_x + "_" + target_y; 
        $(targetId).append(ui.draggable);
        $(ui.draggable).attr("id", newId);


        $.ajax({
          type: 'PUT',
          url: '/pieces/' + ui.draggable.data('piece-id') +'/',
          dataType: 'json',
          data: { piece: {position_x: target_x, position_y: target_y} },
          error: function() {
            location.reload(true);
          // if a move is not valid it will refresh the page
          }
        });

        alert("This piece has been dropped on " + targetId + "!");
      }
    });
  });

</script> 